# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production
.env.local

# macOS
.DS_Store

# Cloudflare
.wrangler/

# editor
.vscode/
.idea/

# Astro
.astro/
